@media screen and (max-width: 932px) {

* {
    margin: 0;
    padding: 0;
}

.menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 0;
}

.menu__icon {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.menu__ul {
    position: absolute;
    right: 1rem;
    top: 3rem;
    width: 150px;
}

.nav {
    display: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 100%;
    min-height: 100%;
}

.header__img--container {
    grid-area: 1/1/3/3;
    min-width: 100%;
    min-height: 100%;
}

.header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__logo {
    grid-area: 1/1/3/3;
    width: 60%;
    height: 60%;
    margin-bottom: 12%;
}

.header__header {
    align-self: flex-end;
    justify-self: center;
    font-size: 32px;
    margin-bottom: 10%;
}

.input {
    width: 90%;
    margin-left: 6%;
}

.input__header {
    font-size: 28px;
    font-weight: 400;
    justify-content: center;
}

.input__container {
    flex-direction: column;
    width: 100%;
}

.input__group {
    align-items: flex-start;
}

.input__bread1 {
    font-size: 14px;
}

.input__bread2 {
    font-size: 14px;
}

.input__input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article1__btn {
    width: 30%;
    height: 35px;
    font-size: 16px;
    font-weight: 700;
}

.main {
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 5%;
}

.main__box {
 min-height: 220px;
}

.main__img {
    width: 200px;
    height: 160px;
    min-height: 150px;
}

.main__logo {
    display: none;
}

.main__container {
    height: 25px;
    margin: 0 0.5rem 0 0.5rem;
}

.main__header {
    font-size: 16px;
}

.main__date {
    font-size: 12px;
}

.main__name {
    font-size: 12px;
    margin-top: 15%;
}

.main__btn {
    display: none;
}

.main__btn--mobile {
    display: block;
   fill: #B93857;
   width: 13px;
   height: 16px;
   margin-top: 10%;
}

.main2 {
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 5%;
}

.main2__box {
 min-height: 220px;
}

.main2__img {
    width: 200px;
    height: 160px;
    min-height: 150px;
}

.main2__logo {
    display: none;
}

.main2__container {
    height: 25px;
    margin: 0 0.5rem 0 0.5rem;
}

.main2__header {
    font-size: 16px;
}

.main2__date {
    font-size: 12px;
}

.main2__name {
    font-size: 12px;
    margin-top: 15%;
}

.main2__btn {
    display: none;
}

.main2__btn--mobile {
    display: block;
   fill: #B93857;
   width: 13px;
   height: 16px;
   margin-top: 10%;
}

.footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    place-items: center;
    margin: 0;
    border: solid 2rem #9e6d52;
    box-sizing: border-box;
    width: 100%;
}

.footer__img1 {
    display: none;
}

.footer__img2 {
    display: none;
}

.footer__img3 {
    display: none;
}

.footer__img4 {
    display: none;
}

.footer__img--container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.footer__img1--mobile {
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

}